.tradePage-container {
    width: 100vw;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
  }
  .tradePage-container .content{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    border-radius: 8px;
    background: rgba(252, 0, 0, 0.404);
  }

  .tradePage-container .content .tradePage-content{
      display: flex;
      width: 100%;
      margin-top: 15px;
      align-items: center;
      justify-content: center;

      
  }