.landing-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-container .content {
  width: 100%;
  padding: 96px;
  background: none;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}

.landing-container .content section header p {
  font-family: "Macondo";
  font-size: 70px;
  color: #40be06;
  line-height: 32px;
  font-weight: bold;
  word-spacing: 0.2em;
  letter-spacing: 0.17em;
  margin-bottom: 30px;
}

.landing-container .content .reports-container {
  width: 300px;
  background: white;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-container .content .reports-container .resources-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
