.landing-container {
  width: 100vw;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}
.landing-container .content{
  background:rgba(252, 0, 0, 0.404);
  border-radius: 10px;
}
.landing-container .content .description{
  background: #FFF;
  border-radius: 2px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px 10px;
}
.landing-container .content .menu{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px;

  
}

.landing-container .content{
  height: 100%;
  display: flex;
  justify-content: space-between;

}

.landing-container .content h2, h3{
  color: black;
  
}

button{
  height: 40px;
  width: 150px;
  background: #FFF;
  border: 0;
  border-radius: 8px;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  transition: filter 0.2s;

}
button:hover{
  filter: brightness(90%);

}