.update-container {
    width: 100vw;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
  }

  .update-container .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

.update-container .content form{

    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 8px;
    background:rgba(252, 0, 0, 0.404);
    
}

.update-container .content input{
    width: 60%;
    height: 40px;
    text-align: center;

}

.update-container .content .map-container{
    width: 60%;
}

.update-container .content .leaflet-container {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(6, 5, 85);
  }

  .update-container .content button{
      width: 200px;
      margin-bottom: 15px;
  }