#page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper {
  position: relative;

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 600px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

}
#page-landing .content-wrapper main h1 {
  width: 40%;
  text-shadow: 2px 3px 0px #898999;
  font-size: 76px;
  font-weight: 900;
  line-height: 70px;
  color:  #FFF;
}

#page-landing .content-wrapper main h2 {
  text-shadow: 2px 3px 0px #898999;
  font-size: 76px;
  font-weight: 900;
  line-height: 70px;
  color:  #FFF;

  position: absolute;
  bottom: 2%;
  left: 0%;
}

.content-wrapper .location storng {
  font-weight: 800;
}

.content-wrapper .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 80px;
  height: 80px;
  background: #FFF;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
  background: #60a802;
}
