.wrapper{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.back-link{
    position: absolute;
    left: 20px;
    bottom: 40px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;

}

.back-link svg{
    margin-right: 8px;
}

.back-link:hover{
    opacity: 0.8;
}