.wrapper{
    display: flex;
    width: 700px;

    justify-content: space-between  ;
}

.trade-container .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trade-container .item input{
    width: 20%;
}
