.wrapper {
    width: 100%;
    height: 100vh;
}

.wrapper button{
    width: 20%;
    border-radius: 9px 0px 0px 9px;
    background-color: red;
}

.wrapper button + input + button{
    border-radius: 0px 9px 9px 0px;
    background-color: green;
}

.wrapper input{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none
    
}