.reports-wrapper{
    background: #FFF;
    border-radius: 2px;
    width: 100%;
}
.reports-container {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .reports-container .resources-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
  }
  