.flag-infected-container {
  width: 100vw;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

.flag-infected-container .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flag-infected-container .content form {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  background: rgba(252, 0, 0, 0.404);
}

.flag-infected-container .content form input{
    width: 65%;
    height: 50px;
    margin-top: 15px;
}

.flag-infected-container .content form button{

    margin-top: 15px;
    margin-bottom: 15px;

}
