@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 14px "Noto Sans Jp", sans-serif;
    background: #6C0000;
    -webkit-font-smoothing: antialiased;
}
p{
    font-family: "Noto Sans Jp";
}

input, button, textarea{
    font: 400 18px "Noto Sans Jp", sans-serif;

}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: "#333";
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 0 24px;

}

form textarea {
    width: 100%;
    min-height: 140px;
    height: 60px;
    resize: vertical;
    color: "#333";
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;


}



