.register-container {
  width: 100vw;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  align-items: center;
  justify-content: center;
  
}

.register-container .content {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background:rgba(252, 0, 0, 0.404);
  margin-top: 20px;
  border-radius: 8px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.register-container .content .name-age{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}


.register-container .content section {
  width: 100%;
  max-width: 380px;
}

.register-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
  color: #eb0b0b;
}



.register-container .content form {
  width: 100%;
  max-width: 450px;
}

.register-container .content form h2 {
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.register-container .content form h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
  }

.register-container .content form input {
  margin-top: 8px;
}

.register-container .content form img {
  width: 100%;
  max-width: 450px;
}

.register-container .content form .input-group {
  display: flex;
}

.register-container .content form .input-group input + input {
  margin-left: 8px;
}

.register-container .content form .leaflet-container {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 1px solid rgb(6, 5, 85);
}

.register-container .content .button-select {
  display: flex;
  background:none;
}

.register-container .content .button-select button {
  width: 50%;
  height: 50px;
  background: #ffffff;
  color: #010202;
  cursor: pointer;
  
}

.register-container .content .button-select button.active {
  background: #00699A;
  color: black;
}

.register-container .content .button-select button:first-child {
  border-radius: 8px 0px 0px 8px;
}

.register-container .content .button-select button:last-child {
  border-radius: 0px 8px 8px 0px;
  border-left: 0;
}

.register-container .content .inventory-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;


  background: #FFF;
  border-radius: 5px;
}

.register-container .content .inventory-items .item{
  display: grid;
  grid-template-columns: 1.3fr 0.5fr;
  margin: 5px 5px;
}

.register-container .content .inventory-items .item p{
  font-size: 17px;
  color: rgb(0, 0, 0);
  
  text-align: start;
}

.register-container .content .inventory-items .item input{
  height: 40px;
  padding: 0;
  margin: 0;

  border: none;
  background: rgb(207, 106, 106);
  text-align: end;
}

.button{
  width: 200px;
  height: 50px;
  margin-top: 10px;
}